extends layout

block content
  h1= title
  h2 Welcome to #{title} using express.
  hr
  ul
    li Programar un API en node, a la cual se le pase un texto y reponda con el mismo texto.
    li Usando express, junto con sus test unitarios usando chai & supertest
  hr
  h1 Endpoints
  ul
    li GET: "/"
    li POST: "/api/text"
